<!-- <div class="container">
  <form  #categ2 = "ngForm" [style.display]="(subcatformFlag==true)?'block':'none'" >

  <label class="form-label" for="customFile">Default file input example</label>
  <input name="image" (change)="onFilechange($event)" type="file" class="form-control" id="customFile" ngModel>
  <label for="exampleInputname" class="form-label">SubCategory Name</label>
  <input name="name" (change)="onInputChange($event)" type="text" class="form-control" id="exampleInputname" aria-describedby="name" ngModel>

  <label for="exampleInputname" class="form-label">Category Name</label>
  <input name="categoryname" (change)="onInputChange($event)" type="text" class="form-control" id="exampleInputname" aria-describedby="name" ngModel>
  <input (click)="upload()" type = "submit" value = "submit">
  </form>
  </div> -->

