<div class="container mt-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.2313082522073!2d31.023411384957832!3d30.030221181887523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14585ba897ccfe3b%3A0x15d82d85f637331c!2sHyper%20One!5e0!3m2!1sar!2seg!4v1678303159222!5m2!1sar!2seg" width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="row mt-3">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="border-bottom w-75">
                <i class="fa-solid fa-address-book me-2 fs-4"></i>
                <h4 class=" fw-normal d-inline-block">CONTACT INFO</h4>
            </div>
           <div class="mt-3">
                <i class="fa-solid fa-location-dot text-muted"></i>
                <p class="text-muted d-inline-block">Address 1234 Pall Mall Street, London England</p>
           </div>
           <div>
                <i class="fa-solid fa-phone me-2 text-muted"></i>
                <p class="text-muted d-inline-block"> Phone (800) 0123 4567 890</p>
           </div>
           <div>
                <i class="fa-solid fa-envelope me-2 text-muted"></i>
                <p class="text-muted d-inline-block"> Email <a class="text-danger text-decoration-none" style="cursor: pointer;">admin@bootexperts.com</a></p>
           </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="border-bottom">
                <i class="fa-regular fa-envelope me-2 fs-4"></i>
                <h4 class=" fw-normal d-inline-block">LEAVE A MESSAGE</h4>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3 ps-0">
                    <input type="text" class="form-control rounded-0" placeholder="Name (required)">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3 ps-0">
                    <input type="email" class="form-control rounded-0" placeholder="Email (required)">
                </div>
                <input type="text" class="form-control rounded-0 mt-3" placeholder="Subject">
                <textarea class="form-control rounded-0 mt-3" placeholder="Message" rows="5"></textarea>
                <button class="btn btn-dark rounded-0 w-50 mt-3">SUBMIT FORM</button>
            </div>
        </div>
    </div>
</div>

