<ngb-carousel [interval]="3000" [pauseOnHover]="false">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-wrapper text-center">
      <img src="{{image.src}}" alt="">
    </div>
    <div class="carousel-caption">
      <h1 style="font-size: 5rem;">{{image.caption}}</h1>
    </div>
  </ng-template>
</ngb-carousel>

<div class="text-center container mt-3 mb-5">
  <div class=" text-center " style="font-size: 4rem;">
    <i class="fa-solid fa-lightbulb me-4"></i>
    <h1 class="mb-3 d-inline-block" style="font-size: 3rem;">Our Idea</h1>
    <p class="fs-4">ImHome, is for furniture, where each vendor presents his own business, which is available to him in the store and ready for immediate sale and customer can make custom order with some details related to the service, such as the expected price, due date .. etc, and each vendor presents his best offer to get the service.</p>
  </div>
</div>


<div class="row justify-content-around align-items-lg-stretch text-center mt-5 mb-5">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
    <i class="fa-solid fa-user my-4 " style="font-size: 4rem;"></i>
    <h1>Our Features</h1>
    <p class="fs-4 mt-3">Providing all woodwork to the customer through the e-commerce and the custom order</p>
    <p class="fs-4 ">Providing additional job opportunities for factories and small workshops</p>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
    <i class="fa-solid fa-user my-4 " style="font-size: 4rem;"></i>
    <h1>Our Customers</h1>
    <p class="fs-4 mt-3">All customers who are looking for furitute or any other wooden companies.</p>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
    <i class="fa-solid fa-user my-4 " style="font-size: 4rem;"></i>
    <h1>Our Vendors</h1>
    <p class="fs-4 mt-3">All manufacturers of woodworking, from large factories to small workshops and individuals.</p>
  </div>
</div>


  <div class="row justify-content-around align-items-center text-center pb-5" style="background-color: #fbf5ec;">
    <div>
      <i class="fa-solid fa-people-group me-4 my-4" style="font-size: 4rem;"></i>
      <h1 class=" d-inline-block lh-1" style="font-size: 3rem;">Our Team</h1>
    </div>
   
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5">
      <img src="../../assets/Doha.jfif" class="rounded-circle mb-3" style=" width: 12rem; height: 12rem;">
      <h4>Doha Gamal</h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5">
      <img src="../../assets/Marwa.jpg" class="rounded-circle mb-3" style=" width: 12rem; height: 12rem;">
      <h4>Marwa Abd El-Moneim</h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5">
      <img src="../../assets/Aly.jfif" class="rounded-circle mb-3" style=" width: 12rem; height: 12rem;">
      <h4>Ali Khaled</h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5">
      <img src="../../assets/mariam.jfif" class="rounded-circle mb-3" style=" width: 12rem; height: 12rem;">
      <h4>Mariam Salah</h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-5">
      <img src="../../assets/Nada.jfif" class="rounded-circle mb-3" style=" width: 12rem; height: 12rem;">
      <h4>Nada Mahmoud</h4>
    </div>
  </div>
