<div class="container ">
<div class="row row staff-grid-row  g-4 justify-content-between mt-4">
<!-- 1 -->
<div class="owl-wrapper col-md-6 col-sm-6  col-lg-4 col-xl-4 " *ngFor="let prod of wishlistProducts">
     <div class="owl-item" >
          <div class="custom-col">
               <div class="single-product">

                    <!--product(star-name-price)  -->
                    <div class="product-details">

                         <!-- product header -->

                         <div class="card-header card-header">

                              <button type="button" class="btn-close" (click)="removeProduct(prod._id)"></button>
                         </div>

                         <!-- star -->
                         <div class="ratings no-rating row">
                              <ul>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                                   <li><i class="fa-solid fa-star"></i></li>
                              </ul>
                         </div>

                         <!-- product-name -->
                         <div class="product-name">
                              <h3><a href="#">{{prod.title}}</a></h3>
                         </div>

                         <!-- price-box -->
                         <div class="price-box">
                              <!-- <span class="old-price"></span> -->
                              <span class="new-price fw-bold fs-4">{{prod.price | currency}}</span>
                         </div>
                    </div>

                    <!-- image -->
                    <div class="product-img">

                         <span class="sale-text">sale</span>

                         <a href="#" *ngFor="let img of prod.images">
                              <img class="primary-img"
                                   [src]="img" alt="">

                              <!-- <img class="secondary-img"
                                   [src]="img" alt=""> -->
                         </a>

                         

                    <!-- button -->
                    <div class="add-to-cart">
                         <a (click)="addToCart(prod)">add to cart</a>
                    </div>
                    <div class="add-to-cart mt-1">
                         <a >View Details</a>
                    </div>
               </div>
          </div>
     </div>

</div>



<!-- cart -->




</div>

</div>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <div class="modal-product row justify-content-center align-items: center">
                         <!-- Start product images -->
                         <div class="product-images col-xl-4 col-lg-4  col-md-4 col-sm-12">
                              <div class="main-image images ">
                                   <img alt=""
                                        src="https://htmldemo.net/expert/expert/assets/images/product/quickview.webp">
                              </div>
                         </div>
                         <!-- end product images -->
                         <div class="product-info col-xl-7 col-lg-7 col-md-7 col-sm-12">
                              <h1 class="">Adobe Photoshop Tuts</h1>
                              <div class="price-box-3">
                                   <div class="s-price-box">
                                        <span class="new-price">$17.20</span>
                                        <span class="old-price">$45.00</span>
                                   </div>
                              </div>
                              <a href="shop.html" class="see-all">See all features</a>
                              <div class="quick-add-to-cart">
                                   <form method="post" class="cart">
                                        <div class="numbers-row">
                                             <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                   </form>
                              </div>
                              <div class="quick-desc">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   Nam fringilla augue nec est
                                   tristique auctor. Donec non est at libero.
                              </div>
                              <div class="social-sharing">
                                   <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product
                                        </h3>
                                        <ul class="social-icons">

                                             <li><a target="_blank" title="Facebook" href="#"
                                                       class="facebook social-icon"><i
                                                            class="fa-brands fa-facebook-f"></i></a></li>

                                             <li><a target="_blank" title="Twitter" href="#"
                                                       class="twitter social-icon"><i
                                                            class="fa-brands fa-twitter"></i></a></li>

                                             <li><a target="_blank" title="Pinterest" href="#"
                                                       class="pinterest social-icon"><i
                                                            class="fa-brands fa-pinterest-p"></i></a>
                                             </li>

                                             <li><a target="_blank" title="Google +" href="#"
                                                       class="gplus social-icon"><i
                                                            class="fa-brands fa-google-plus-g"></i></a>
                                             </li>

                                             <li><a target="_blank" title="LinkedIn" href="#"
                                                       class="linkedin social-icon"><i
                                                            class="fa-brands fa-linkedin-in"></i></a></li>
                                        </ul>
                                   </div>
                              </div>
                         </div><!-- .product-info -->
                    </div><!-- .modal-product -->
               </div><!-- .modal-body -->
          </div>
     </div>
</div>

