



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">


      <!-- Website_Name + Logo -->
      <div>
        <a class="navbar-brand" href="#">Navbar</a>
        <img src="" alt="">
      </div>

      <!--  -->
      <div>
        
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- Home -->
            <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#">HOME</a>
            </li>
                <!-- Products -->
            <div class="dropdown position-relative">
                <a style="border-color:transparent !important;" class="products_btn btn text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                
                <ul class="dropdown-menu" style="position:absolute; left: -5rem;top:3rem ; height:35vh; width:80vw;">
                   
                    <div class="d-flex">
                        <section class="d-flex " style="border:2px solid red; width:60%;">
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                        <ul style="list-style: none;">
                            <h5>Bedding Rooms</h5>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                            <li><a class="dropdown-item" href="#">Bedding Rooms</a></li>
                        </ul>
                    </section>
                    <!-- section for Image -->
                    <section style="border:2px solid blue; width:40%;">
                        <img src="" alt="">
                    </section>
                    </div>
                    
                    
                </ul>
            </div>
            
                <!-- About -->
            <li class="nav-item">
                <a class="nav-link text-light " aria-current="page" href="#">ABOUT</a>
            </li>
                <!-- Page -->
            <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#">PAGE</a>
            </li>
                <!-- Shop -->
            <li class="nav-item">
                <a class="nav-link text-light" href="#">SHOP</a>
            </li>
                <!-- Blog -->
            <li class="nav-item">
                <a class="nav-link text-light" href="#">BLOG</a>
            </li>
                <!-- Contact -->
            <li class="nav-item">
                <a class="nav-link text-light" href="#">CONTACT</a>
            </li>
            </ul>
        </div>
      </div>
      <!-- Search Form -->
      <div>
            <form class="d-flex" role="search">
                <input style="height:4vh;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button style="height:4vh; padding-top: 0.1rem ;" class="search_btn btn btn-outline-light text-white" type="submit">Search</button>
            </form>
            
      </div>
      <!-- LogIn & LonOut -->
      <div  >
        <a class=" text-white text-decoration-none me-3 " routerLink="login">Login</a>
        <a class=" text-white text-decoration-none me-3 " routerLink="register">Register</a>
        <a class=" text-white text-decoration-none " href="#">Logout</a>    
      </div>
      
    </div>
    
  </nav>