<div style="background-color:antiquewhite;" class=" p-5 mt-5 rounded w-50 container">
    <h2 class="text-center">Login</h2>
    <form>
        <!-- Email address -->
        <div class="mb-3 mt-4">
          <label for="exampleInputEmail1" class="form-label fw-semibold fs-5">Email address</label>
          <input type="email" class=" form-control" id="exampleInputEmail1">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label fw-semibold fs-5">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label fw-semibold" for="exampleCheck1">Reminder Me</label>
        </div>
        <button type="submit" class="login_btn w-50 btn btn-success">Login</button>
      </form>
</div>