


      <div style="background-color: #FBF5EC;" class=" container">
   

    <!-- first  -->
    <div  style="background-color: #FBF5EC;" class="container mt-5" >
        <div class="row">
            <!-- Slide Show -->
            <div   class="col-md-5" >

                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                      <div *ngFor="let img of prdoduct!.images" class="carousel-item active" data-bs-interval="10000" >
                        <img [src]="img" class="d-block w-100 h-100" alt="...">

                      </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                    <!--start Color static-->
                    <div class=" d-flex justify-content-center backcolor " >
                    
                      <div style="width:1.5rem; height: 1.5rem;" *ngFor="let cl of prdoduct!.colors; let i = index" class="m-2 styleColor " [style.background-color]="cl"></div>
                    
                    </div>
                    <!--End Color static-->


            </div>

            <!-- end of slide show -->


          





            <!-- Descreption -->

            <div  style="background-color: #FBF5EC;" class="col-md-5">
                 <div class="  container">

                    <div class="card-body">
                        <span class=" m-3 badge text-bg-light">NEW</span><br>


                      <h2 class="card-title">{{prdoduct!.title}}</h2><br>
                      <p class ="fs-2" >$ {{prdoduct!.price}}</p>

                      <div class = "product-rating">
                        <span><i style="color: goldenrod;" class = "fas fa-star"></i></span>
                        <span><i  style="color: goldenrod;"  class = "fas fa-star"></i></span>
                        <span><i  style="color: goldenrod;"  class = "fas fa-star"></i></span>
                        <span><i style="color: goldenrod;"  class = "fas fa-star"></i></span>
                        <span><i style="color: goldenrod;"  class = "fas fa-star-half-alt"></i></span>
                        <span class="fs-5 text-body ">| 4 Reviews</span><br><br>
                    </div>

                    <h2 class="card-title">Description</h2><br>

                     <p class="card-text">{{prdoduct!.overview}} </p>

                     <div class="d-flex ">
                       
                      <a style=" background-color: #798545; color: white;" class=" btn m-2 text-center poenter"
                        (click)="addToCart(prdoduct!)">Add to cart</a>

                        <a style=" background-color: #798545; color: white;" class=" btn m-2 text-center poenter"
                          (click)="addToWishlist(prdoduct!)">Add To Wishlist</a>

                     </div>
                    

                    </div>
                  </div>

                  </div>
                </div>
            </div>

    <!-- ----------------------End of first section----------------- -->

    <!-- SECOND -->




    <div  style="background-color: #FBF5EC;" class="   m-2 container  ">
        <h5 class="m-3">Details</h5><hr>

        <div class="row " >

            <div class="  col-md-2">

                <p class="fs-6 fw-semibold" >matrial</p>
                <p class="fs-6 fw-semibold">category
</p>
                <p class="fs-6 fw-semibold">subcategory</p>
                <p class="fs-6 fw-semibold">quantity
</p>
                <p class="fs-6 fw-semibold">Sizes</p>

            </div>
            <div class="col-md-5">
                <p class="fs-6  fw-semibold" >: {{prdoduct!.matrial}}</p>
                <p class="fs-6   fw-semibold">: {{prdoduct!.category}}</p>
                <p class="fs-6 fw-semibold">: {{prdoduct!.subcategory}}</p>
                <p class="fs-6 fw-semibold">: {{prdoduct!.quantity}}</p>
                <p class="fs-6   fw-semibold ">: Height: {{prdoduct!.dimensions.height}} cm | Width:{{prdoduct!.dimensions.width}} cm | Depth: {{prdoduct!.dimensions.length}} cm </p>
            </div>


            </div>
            </div>




            

  </div>


