<div class=" mb-5">
  <!-- Up div ===> carousel -->
  <div class="w-100 border border-1">
    <app-home-page-carousel></app-home-page-carousel>
  </div>

  <!-- Down div ===> filter  -->

  <div class="d-flex row">

    <!-- Left section for Filter -->
    <section id="stic"  class="col-sm-3 col-md-3 col-lg-2 col-xl-2 left_section_for_filter mt-5 p-3 shadow"
     >

     <h5  class="mb-3 ms-2">Filter</h5>
      <!-- Category -->
      <div class="accordion mb-3 shadow" id="accordionExample"
        style="border-radius:0.5rem ; ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: white !important; " class="accordion-button fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#Category">
              Category
            </button>
          </h2>
          <div id="Category" class="accordion-collapse collapse show">
            <div class="accordion-body">

              <div class="d-flex" *ngFor="let cat of categories ;let index = index">
                <div class="form-check">
                  <input class="form-check-input" [ngModel]="selectedIndex === index" type="checkbox" [value]="cat._id"
                    (change)="onselectchange($event,index)" id="flexCheckDefault">
                  <label class="form-check-label" for="{{cat.name}}">
                    {{cat.name}}
                  </label>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- Price -->
      <div class="accordion mb-3 shadow" id="accordionExample"
        style="border-radius:0.5rem ; ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: white !important; " class="accordion-button fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#price">
              Price
            </button>
          </h2>
          <div id="price" class="accordion-collapse collapse show">
            <div class="accordion-body">


              <div>
                <ngx-slider (userChange)="press(minValue,maxValue)" (userChangeStart)="minprice($event)" (userChangeEnd)="maxprice($event)"  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>



            </div>
          </div>
        </div>
      </div>


      <!-- Vendors -->
      <div class="accordion mb-3 shadow" id="accordionExample"
        style="border-radius:0.5rem ; ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: white !important; " class="accordion-button fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#vendors">
              Vendors
            </button>
          </h2>
          <div id="vendors" class="accordion-collapse collapse show">
            <div class="accordion-body">

              <div class="d-flex" *ngFor="let vendor of vendors ;let v = index" >
                <input [ngModel]="selectedv === v" (change)="onvendorchange($event,v)" class="form-check-input mt-0" type="checkbox"  value="{{vendor._id}}"
                  aria-label="Checkbox for following text input">
                <div class="d-flex justify-content-between w-50">
                  <p style="bottom: 0.3rem;" class="ms-2 position-relative" > {{vendor.f_name}}</p>
                  <!-- <p style="bottom: 0.25rem;" class=" position-relative">(15)</p> -->
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Colors -->
      <div class="accordion mb-3 shadow" id="accordionExample"
        style="border-radius:0.5rem ; ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: white !important; " class="accordion-button fw-semibold" type="button"
              data-bs-toggle="collapse" data-bs-target="#colors">
              Colors
            </button>
          </h2>
          <div id="colors" class="  d-flex row accordion-collapse collapse show ">
            <div class="accordion-body col-sm-2 col-md-2 col-lg-2 col-xl-1"  *ngFor="let cl of n">

                 <div class="styleColor  rounded-circle"(click)="colorChange(cl)"  [style.background-color]="cl"></div>
                  <!-- <input *ngFor="let item of color" (change)="colorChange(item)" type="color"  name="head" value="{{item}}"> -->
                  <!-- <label for="{{item}}"></label> -->
              </div>

            </div>
          </div>
        </div>

    </section>



    <!-- Right section for Cards -->
    <section class="col-sm-12 col-md-8 col-lg-10 col-xl-10 mt-5  p-2">
      <!-- Fast Search by Categories (such as : Bed Rooms , Living Rooms ....etc)  -->
      <div class=" fast_search_by_categories d-flex justify-content-between align-items-center shadow"
        style=" padding-top: 1.5rem; margin-bottom: 2rem; border-radius: 1rem;">
        <!-- Bed Rooms -->
        <div class=" mb-3   text-center"*ngFor="let cat of categories ;let c = index" >

            <img style="border-radius: 0.5rem; box-shadow: 0.25rem 0.25rem 0.4rem rgba(59, 41, 41, 0.574); width: 75%;"
              src="{{cat.image}}" alt="Bed Room Photo">
            <h4 style=" width: 95%; margin-left: auto; margin-right: auto;" class="category_room_name mt-2">{{cat.name}}
            </h4>



        </div>



      </div>

      <!-- Search Form -->
      <div class="">
        <form (ngSubmit)="onSearchTextChanged(enteredSearchValue)" class="d-flex mt-3 mb-4" role="search">
          <input [(ngModel)]="enteredSearchValue" name="name" style="height:6vh;  "
            class="form-control me-2 bg-dark text-light " type="search" (focus)="hide_hilight($event)"
            placeholder="Search for specific product (Ex. Tv Tables)" aria-label="Search">
          <input style="height:6vh; padding-top: 0.1rem ;" class="search_btn btn btn-dark text-white" type="submit"
            value="submit">
        </form>

      </div>

      <div class="row staff-grid-row">
        <!-- card1 -->
     <div class=" col-lg-4 col-xl-4"*ngFor="let item of products | paginate: { id: 'some_id',
     itemsPerPage: 5,
     currentPage: page,
     totalItems: total }" >
          <div class="card  bg-white Small shadow card1 h-100" >

<!--Start image carousel-->
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let img of item.images">
    <ng-template carouselSlide id="slide.id">
      <img class="primary-img d-block w-100 market-hight" [src]="img" alt="img" style="width:90%;" />
    </ng-template>
  </ng-container>
</owl-carousel-o>
<div class="carousel carousel-dark slide">

  <div class="carousel-inner" >


  </div>

     <!--Start Color carousel-->
     <div class="mt-2 ">
          <div class="d-flex justify-content-center text-center backcolor">
               <div   *ngFor="let cl of item.colors; let i = index">
                    <div class=" text-center " carouselSlide id="slides12.id">
                         <div class="ms-2  styleColor " [style.background-color]="cl"></div>
                    </div>
               </div>
          </div>
     </div>
     <!--End Color carousel-->

</div>
<!--End image carousel-->



               <div class="card-body">
                    <!-- title -->
                    <h5 class="card-title text-center">{{item.title}}</h5>

                    <!-- price -->
                    <p class="card-text text-center text-secondary lh-1 CEO pt-3">
                       {{item.price}} LE
                    </p>
                    <!-- button -->
                    <div class="add-to-cart d-flex justify-content-center mb-2">
                         <a type="button" (click)="view_details(item._id)">view details</a>

                    </div>

               </div>
          </div>
     </div>

      </div>
<div class="text-center" >
  <pagination-controls  id="some_id"
  (pageChange)="pageChanged($event)"
 >
</pagination-controls>
</div>
</section>


</div>
</div>


      <!-- <app-single-product></app-single-product> -->





