
.CEO {
  margin-top: -0.3rem;
}


.dropbtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

/* add-to-cart */

.add-to-cart a:hover {
  color: #949A5B;
  border-color: #949A5B;
}

.add-to-cart a {
  border: 2px solid #d7d7d7;
  color: #b0b0b0;
  /* display: inline-block; */
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.backcolor {
  background-color: #d8d6d3;

}
/* Start image carousel height */
.market-hight{
 height: 20rem !important;
}


/* Start Color carousel */
.styleColor {
  width: 4vh;
  height: 4vh;

}
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.changed{
  width:250px;
}
