<div class="container">
  <!-- All card -->
  <div  class="row g-2 mb-5">
    <!-- card1 -->



    <!-- ............................... -->
    <!-- card2 -->
    <section  style="border-radius: 0.5rem; border:1px solid rgba(0, 0, 0, 0.219);width: 65%;" class="mx-4 mb-4 p-3"  *ngFor="let prod of products;let index=index" >

      <!-- div contain proposal details -->
      <div class=" mt-4 d-flex justify-content-around" >
        <!-- Proposal Details -->
        <div  class="position-relative" style="top: 1rem; width: 60%;" >

          <!-- card details  -->
          <div class="ms-2"  >

            <div>
              <!-- title -->
              <h6 class="fw-bold">{{prod.title}}</h6>
              <!--Description-->
              <div>{{prod.overview}}</div>
            </div>
            <!-- Quntity -->
            <span class="d-flex align-items-center mt-3">
              <h6 class="fw-bold">Quntity:</h6>
              <h6 class="ms-3">{{prod.quantity}}</h6>
            </span>
            <!-- price -->
            <span class="d-flex align-items-center mt-2">
              <h6 class="fw-bold">price: </h6>
              <h6 class="ms-3">{{prod.price | currency}}</h6>
            </span>

            <!-- Material -->
            <span class="d-flex align-items-center mt-2">
              <h6 class="fw-bold">Material: </h6>
              <h6 class="ms-3">{{prod.matrial}}</h6>
            </span>

            <!-- Material -->
            <span class="d-flex align-items-center mt-2">
              <h6 class="fw-bold">Dimensions(L × W × H): </h6>
              <h6 class="ms-3">{{prod.dimensions.length}} X {{prod.dimensions.length}} X {{prod.dimensions.length}}</h6>
            </span>

            <!-- Main Category -->
            <span  class="d-flex align-items-center mt-2">
              <h6 class="fw-bold">Main Category: </h6>
              <h6 class="ms-3">{{catname[index]}}</h6>
            </span>


            <!-- Sub  Category -->
            <span class="d-flex align-items-center mt-2">
              <h6 class="fw-bold">Sub Category: </h6>
              <h6 class="ms-3">{{subcatname[index]}}</h6>
            </span>
          </div>

          <!-- Buttons -->
          <div class="my-3">
            <button class="btn btn-success"><a class="dropdown-item" href="#" data-bs-toggle="modal"
                data-bs-target="#EditModal">
                <i class="fa-sharp fa-solid fa-pencil"></i>
                Edit</a> </button>
            <button (click)="setdeleteproductId(prod._id)"  class="ms-4 btn btn-danger"> <a class="dropdown-item" href="#" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class="fa-sharp fa-solid fa-trash-can"></i>
                Delet</a></button>
          </div>

        </div>
        <!--Start image carousel-->
        <div class="" style="width:40%;">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let img of prod.images">
              <ng-template carouselSlide id="slide.id">
                <img class="primary-img" [src]="img" alt="img" style="width:90%;" />
              </ng-template>
            </ng-container>
          </owl-carousel-o>

          <!-- <div *ngFor="let img of prod.images">
            <img class="primary-img" [src]="img" [alt]="img" style="width:90%;" />
          </div> -->

          <!--Start Color carousel-->
          <div class="mt-2">
            <owl-carousel-o [options]="customOptions1">
              <ng-container *ngFor="let prod of products; let i = index">
                <ng-template carouselSlide id="slides12.id">
                  <div class="styleColor"  [style.background-color]="prod.colors![i]"></div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <!--End Color carousel-->

        </div>
        <!--End image carousel-->

      </div>

    </section>
    <!-- .................................... -->

    <!-- card3 -->

    <!-- card4 -->

  </div>
</div>





<!-- Modal Edit Product -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--start form  -->
        <div class="add-product-form mb-5" style="width: 100%">
          <form (ngSubmit)="submitFormadd(addprodectform)" [formGroup]="addprodectform">
            <!-- Title Product -->
            <div class="pt-2 m-3">
              <label for="Title" class="form-label">Title Product</label>
              <input formControlName="Title_Product" type="text" class="form-control" id="Title" placeholder="" />
              <div *ngIf="
                  addprodectform.get('Title_Product')?.errors &&
                  addprodectform.get('Title_Product')?.touched
                " class="alert alert-danger">
                <p class="m-0 p-0">Title is required</p>
              </div>
            </div>

            <!-- Description -->
            <div class="m-3">
              <label for="DescriptionProduct" class="form-label">Description</label>
              <textarea formControlName="Description" class="form-control" id="DescriptionProduct" rows="3"></textarea>

              <!--Start Description Validators -->
              <div *ngIf="
                  addprodectform.get('Description')?.errors &&
                  addprodectform.get('Description')?.touched
                " class="alert alert-danger">
                <p *ngIf="
                    addprodectform.get('Description')?.getError('required')
                  " class="m-0 p-0">
                  Description is required
                </p>

                <p *ngIf="
                    addprodectform.get('Description')?.hasError('minlength')
                  " class="m-0 p-0">
                  Description must be at least 100 characters long
                </p>

                <p *ngIf="
                    addprodectform.get('Description')?.getError('maxlength')
                  " class="m-0 p-0">
                  Description must be at Max 300 characters long
                </p>
              </div>
              <!--End Description Validators -->
            </div>

            <!--Price &&  Quntity -->
            <div class="d-flex justify-content-between m-3">
              <!-- Price -->
              <div style="width: 45%">
                <label for="PriceProduct" class="form-label">Price</label>
                <input formControlName="Price" type="text" class="form-control" id="PriceProduct" placeholder="" />
                <div *ngIf="
                    addprodectform.get('Price')?.errors &&
                    addprodectform.get('Price')?.touched
                  " class="alert alert-danger">
                  <p class="m-0 p-0">Price is required</p>
                </div>
              </div>

              <!-- avialble Quntity -->
              <div style="width: 45%">
                <label for="QuntityProduct" class="form-label">avialble Quntity</label>
                <input formControlName="avialble_Quntity" type="number" class="form-control" id="QuntityProduct"
                  placeholder="" />
                <div *ngIf="
                    addprodectform.get('avialble_Quntity')?.errors &&
                    addprodectform.get('avialble_Quntity')?.touched
                  " class="alert alert-danger">
                  <p class="m-0 p-0">Quntity is required</p>
                </div>
              </div>
            </div>

            <!-- Material -->
            <div class="m-3">
              <label for="MaterialProduct" class="form-label">Material</label>
              <input formControlName="Material" type="text" class="form-control" id="MaterialProduct" placeholder="" />
              <div *ngIf="
                  addprodectform.get('Material')?.errors &&
                  addprodectform.get('Material')?.touched
                " class="alert alert-danger">
                <p class="m-0 p-0">Material Product is required</p>
              </div>
            </div>

            <!-- Dimensions -->
            <div class="m-3">
              <label for="DimensionsProduct" class="form-label">Dimensions</label>
              <div class="d-flex justify-content-between">
                <!-- W -->
                <input formControlName="DimensionsW" type="text" class="form-control w-25" id="DimensionsProduct"
                  placeholder="W" />

                <!-- H -->
                <input formControlName="DimensionsH" type="text" class="form-control w-25" id="" placeholder="H" />

                <!-- L -->
                <input formControlName="DimensionsL" type="text" class="form-control w-25" id="" placeholder="L" />
              </div>
            </div>

            <!--Start Dimensions Validators -->
            <div class="d-flex justify-content-between m-3">
              <div *ngIf="
                  addprodectform.get('DimensionsW')?.errors &&
                  addprodectform.get('DimensionsW')?.touched
                " class="alert alert-danger w-25">
                <p class="m-0 p-0">width Product is required</p>
              </div>

              <div *ngIf="
                  addprodectform.get('DimensionsH')?.errors &&
                  addprodectform.get('DimensionsH')?.touched
                " class="alert alert-danger w-25">
                <p class="m-0 p-0">Hight Product is required</p>
              </div>

              <div *ngIf="
                  addprodectform.get('DimensionsL')?.errors &&
                  addprodectform.get('DimensionsL')?.touched
                " class="alert alert-danger w-25">
                <p class="m-0 p-0">Length Product is required</p>
              </div>
            </div>
            <!--End Dimensions Validators -->

            <!-- Main Category -->
            <div class="m-3">
              <label for="" class="form-label">Main Category</label>

              <select formControlName="Main_Category" class="form-select" aria-label="Default select example"
                (change)="select_Main_Category(addprodectform)">
                <option selected></option>
                <option value="bed_rooms">bed rooms</option>
                <option value="living_rooms">living rooms</option>
                <option value="dinning_rooms">dinning rooms</option>
                <option value="kitchens">kitchens</option>
                <option value="office">office</option>
              </select>
              <div *ngIf="
                  addprodectform.get('Main_Category')?.errors &&
                  addprodectform.get('Main_Category')?.touched
                " class="alert alert-danger">
                <p class="m-0 p-0">Main Category is required</p>
              </div>
            </div>

            <!-- Sub Category -->
            <div class="m-3">
              <label for="" class="form-label">Sub Category</label>
              <select formControlName="Sub_Category" class="form-select" aria-label="Default select example">
                <option selected></option>
                <option *ngFor="let x of Sub_Category_Data" value="1">
                  {{ x }}
                </option>
              </select>
              <div *ngIf="
                  addprodectform.get('Sub_Category')?.errors &&
                  addprodectform.get('Sub_Category')?.touched
                " class="alert alert-danger">
                <p class="m-0 p-0">Sub Category is required</p>
              </div>
            </div>

            <!-- color + image -->
            <div class="row align-items-end">
              <!-- image Product -->
              <div class="m-3 col-5" formArrayName="image_Product">
                <ng-container *ngFor="let Color_Product of images.controls; index as i">
                  <label for="imageProduct" class="form-label">image Product #{{ i + 1 }}</label>
                  <input formControlName="image_Product" type="file" class="form-control" id="imageProduct"
                    value="#949A5B" title="Choose your color" formControlName="{{ i }}" />
                </ng-container>

                <div *ngIf="
                    addprodectform.get('image_Product')?.errors &&
                    addprodectform.get('image_Product')?.touched
                  " class="alert alert-danger">
                  <p class="m-0 p-0">image Product is required</p>
                </div>
              </div>

              <!-- Color Product -->
              <div formArrayName="Color_Product" class="ms-3 mb-3 col-5 w-50">
                <div *ngFor="let Color_Product of Colors.controls; index as i" class="row justify-content-between">
                  <label for="ColorProduct" class="form-label ms-3">Color Product #{{ i + 1 }}</label>
                  <input formControlName="Color_Product" type="color" class="form-control form-control-color col-5 ms-4"
                    id="ColorProduct" value="#949A5B" title="Choose your color" formControlName="{{ i }}" />

                  <button type="button" class="btn btn-danger col-2" (click)="remove_Color_image(i)">
                    x
                  </button>
                </div>

                <div *ngIf="
                    addprodectform.get('Color_Product')?.errors &&
                    addprodectform.get('Color_Product')?.touched
                  " class="alert alert-danger">
                  <p class="m-0 p-0">Color Product is required</p>
                </div>
              </div>
            </div>

            <!--button add-Color-image -->
            <div class="row justify-content-center">
              <button class="btn add-Color-image col-5 mt-4" (click)="addColor()">
                + add Color and image
              </button>
            </div>

            <form>
              <div></div>
            </form>
          </form>
        </div>
        <!--End form  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button  (click)="Edit()" type="button" class="btn btn-secondary btn-submit">
          Save changes
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmation Delet -->
<div   class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Are you sure to delete the product?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-submit" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="Delete()" type="button" class="btn btn-secondary btn-submit">OK</button>
      </div>
    </div>
  </div>
</div>

