<div  class=" mx-auto p-5 my-5 rounded" style="width:35%; background-color: antiquewhite;">

    <h3  class="mb-4">Register Form</h3>
    <!-- <div  class="alert alert-danger"></div> -->

    <form  class="fw-semibold" style="font-size:1.2rem;">
        
        
        <label for="first_name">First Name :</label>
        <input type="text" formControlName="first_name" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div class="alert alert-danger pt-2">
            <p class="m-0" >first_name is required</p>
            <p class="m-0" >first_name is minlength is 3</p>
            <p class="m-0" >first_name is maxlength is 10</p>
        </div> -->
        

        <label for="last_name">Last Name :</label>
        <input type="text" formControlName="last_name" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div class="alert alert-danger pt-2">
            <p class="m-0" >last_name is required</p>
            <p class="m-0" >last_name is minlength is 3</p>
            <p class="m-0" >last_name is maxlength is 10</p>
        </div> -->



        <label for="age">Age :</label>
        <input type="number" formControlName="age" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div class="alert alert-danger pt-2">
            <p class="m-0" >age is required</p>
            <p class="m-0" >age is min vlaue is 16</p>
            <p class="m-0" >age is max value is 90</p>
        </div> -->



        <label for="email">E-mail :</label>
        <input type="email" formControlName="email" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div class="alert alert-danger pt-2">
            <p class="m-0" >email is required</p>
            <p class="m-0" >must be valid email </p>
        </div> -->


        
        <label for="password">Password :</label>
        <input type="password" formControlName="password" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div >
            <p class="m-0" >password is required</p>
            <p class="m-0" >password must be capitalized</p>
        </div> -->

        <label for="password">Confirm Password :</label>
        <input type="password" formControlName="password" class="form-control mb-2 input-mine" name="" id="">
        <!-- <div >
            <p class="m-0" >password is required</p>
            <p class="m-0" >password must be capitalized</p>
        </div> -->
        
        <button tybe="submit" class="mt-4 btn btn-success">
            <span >Register</span>
            <i  class="fas fa-spinner fa-spin"></i>
        </button>
    </form>

</div>